@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>
        1. Dichiarare una variabile valorizzandola con il nostro nome.
        Dichiarare un'altra variabile valorizzandola con il nostro cognome.
        Stampare il nostro nome e cognome all'interno di un tag h2.
    </p>

    @{
        string name = "Stefania";
        string lastName = "Spina";
    }

    <h2>@name @lastName</h2>

</div>
